.container {
  background-color: #111;
  padding: 4px;
  border: 1px solid #333;
  border-radius: 9999px;
}
.button {
  border: 0px;
  color: #888;
  padding: 0 20px;
  height: 36px;
  font-size: 14px;
  cursor: pointer;
  border-radius: inherit;
  background: transparent;
}
.button:hover {
  color: #fafafa;
  text-shadow: 1px 1px 12px hsl(0deg 0% 100% / 40%);
  background: hsla(0, 0%, 100%, 0.08);
}
